= link_to new_stay_path, class: 'btn btn-success' do
  %i.icon-white.icon-plus
  New Stay

- if @stays.empty?
  %div
    %em None.
- else
  %table.table.table-striped
    %thead
      %tr
        %th Checkin
        %th Checkout
        %th Nights
        %th Lodging
        %th Laundry?
        %th Kitchen?
        %th Booked?
        %th Paid?
        %th Cost
        %th
    %tbody
      - @stays.each do |stay|
        %tr
          %td= stay.checkin
          %td= stay.checkout
          %td= stay.nights
          %td= stay.lodging
          %td
            - if stay.has_laundry?
              %span.label.label-info Laundry
          %td
            - if stay.has_kitchen?
              %span.label.label-info Kitchen
          %td
            - if stay.booked?
              booked
            - else
              %strong unbooked
          %td
            - if stay.paid?
              paid
            - else
              %strong unpaid
          %td
            - if stay.cost.nil?
              %em unknown
            - elsif stay.cost.zero?
              —
            - else
              = stay.cost.format
          %td
            = link_to edit_stay_path(stay), class: 'btn' do
              %i.icon-pencil
              Edit
