!!!
%html
  %head
    %title Itineraries
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          = link_to 'Itineraries', '#', class: 'brand'
          %ul.nav
            %li= link_to 'Emails', emails_path
            %li= link_to 'Lodgings', lodgings_path
            %li= link_to 'Stays', stays_path


    .container
      = yield
